/* General Styling */
/* Order : body, title h1-h4, p and footer */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    color: #b11226;
}

p {
    color: #555;
    line-height: 1.6;
}


footer {
    background: linear-gradient(to right, #3b3b3b, #333333);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    margin-top: auto; /* Pushes footer to the bottom */
}

footer p {
    margin: 0;
    color: #ffffff;
    font-size: 0.9rem;
}




/* classes */
/* Order : nav, header, features, feature-card */

.navbar {
    background-color: #3b3b3b;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #b11226;
}

.navbar .navbar-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 10px;
}

.nav-link {
    color: #dcdcdc;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: #fff;
    background-color: #b11226;
}




.header {
    background-color: #4b7a55;
    padding: 2rem 1rem;
    color: #ffffff;
    margin-top: 60px; 
    position: relative;
}


.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-content {
    position: relative;
    z-index: 2;
}

.header h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.header p {
    color: #ffffff;
    font-size: 1rem;
}




.features {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.feature-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
}

.feature-card h2 {
    font-size: 1.3rem;
    color: #333;
}

.feature-card p {
    font-size: 1rem;
    color: #666;
}



/* Responsive adjustments for larger screens */
@media (min-width: 1200px) {
    .feature-card {
        width: 300px; /* Increase card width */
    }

    .features {
        gap: 3rem; /* Increase gap between cards */
    }
}