<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Find Your Wine</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="static/images/logo.png" />
    <!-- Link to Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#!">Let's Find Your Wine</a>
            <div class="navbar-links">
                <a class="nav-link" href="#!">Home</a>
                <a class="nav-link" href="#!">About</a>
                <a class="nav-link" href="#!">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="header">
        <div class="header-content">
            <h1>Let's dive into your tastes!</h1>
            <p>Explore our sections below to elevate your wine and spirits tasting experience to the next level.</p>
        </div>
    </header>

    <!-- Features Section -->
    <section class="features">
        <div class="feature-card">
            <div class="feature-icon">
                <img src="../static/images/rating_icon.jpg" alt="Your Ratings Icon" width="50" height="50">
            </div>
            <h2>Your Ratings</h2>
            <p>Track and reflect on every wine you've tasted over time.</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon">
                <img src="../static/images/search wine logo.png" alt="Wine Explorer Icon" width="50" height="50">
            </div>
            <h2>Wine Explorer</h2>
            <p>Find your next great wine discovery</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon">
                <img src="../static/images/whishlist logo.png" alt="Wishlist Icon" width="50" height="50">
            </div>
            <h2>Wishlist</h2>
            <p>Save wines you dream of savoring in the future</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon">
                <img src="../static/images/wine pairing.png" alt="Perfect Pairings Icon" width="50" height="50">
            </div>
            <h2>Perfect Pairings</h2>
            <p>Get expert advice on matching wines with your meals</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon">
                <img src="../static/images/cellar.png" alt="Your Cellar Icon" width="50" height="50">
            </div>
            <h2>Your Cellar</h2>
            <p>Browse and manage your cherished wine collection</p>
        </div>

        <div class="feature-card">
            <div class="feature-icon">
                <img src="../static/images/award.png" alt="Award-Winning Wines Icon" width="50" height="50">
            </div>
            <h2>Award-Winning Wines</h2>
            <p>Browse wines celebrated by industry experts</p>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>Author: Jonathan Gauvin-Audet <br>&copy; 2024 My Portfolio. All Rights Reserved.</p>
    </footer>
</body>

</html>
